/*---Styling HTML AND Body---*/

html, body {

    height: 100%;
    margin: 0;
    padding: 0;

}

body {

    display: flex;
    flex-direction: column;

}

/*---------------------------*/
.head {

    text-align: center;
    
}

.recipe-book {

    height: auto;
    width: 500px;

    outline: black solid 3px;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

a {
    color:inherit;
    text-decoration: none;
}

h1 {
    text-decoration: underline;
    font-weight: bolder;
    font-style: italic;
}

footer {

    container: block;
    background-color: white;

    text-align: center;
    font-size: small;
    margin-top: auto;

    padding: 10px;

}
