.head {

    text-align: center;
    
}

.recipe-book {

    height: auto;
    width: 500px;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

a {
    color:inherit;
    text-decoration: none;
}

h1 {
    text-decoration: underline;
    font-weight: bolder;
    font-style: italic;
}